* {
  margin: 0;
  padding: 0;
}


.App-container {
  width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;

  .chat-message-container {
    flex: 1;
    width: 800px;
    margin: 0 auto;
    border: solid 1px #ccc;
    min-height: 400px;


    .connectd {
      border: solid 1px #1890ff;
    }
  }

  .chat-input-container {
    flex: 0 0 300px;
  }
}

.topCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .searchContainer {

  }

  .opButtons {

  }
}

